
/* #fffb00
   #22ffc8 
   #00ff00 */

:root {
    --main-color: #ff1c1c;
    --main-text-color: #000000;
    --white: #f1f1f1;
    --gray: #696969;
    --body-color: #d8d8d8;
    --shadow-blur: 2px;
}

body, html {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
}

p {
    margin: 10px;
}

hr {
    border-color: var(--main-color);
    width: 80%;
}

a {
    color: var(--white);
}

h1 {
    color: var(--main-color);
}

a:visited {
    color: var(--main-color);
}

.center_text {
    text-align: center;
}

.error {
    color: var(--main-color);
    margin-top: 15%;
    font-size: 80px;
    margin-bottom: 15px;
}

.center {
    margin-left: auto; 
    margin-right: auto;
}

.container {
    padding: 50px 0;
    margin: 20px 25%;
    border: solid 3px var(--main-color);
    border-radius: 20px;
    box-shadow: 3px 3px 7px var(--gray);
    background-color: var(--white);
}

img {
    transition: .7s;
}

.container:hover img{
    transform: scale(1.5);
}

.border {
    border: var(--main-color) solid 2px;
    border-radius: 20px;
    width: 500px;
    padding-bottom: 20px; 
}

#lol {
    color: var(--gray);
}

nav div{
    border: var(--main-color);
}

footer {
    margin-top: 5em;
    background-color: var(--gray);
    padding: 15px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--white);
    text-align: center;
}

.secret {
    background-color: var(--main-color);
    border-radius: 4px;
    color: var(--main-color);
    border: none;
    font-size: large;
    font-family: 'Roboto';
}

.secret:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.secret:focus {
    background-color: var(--main-color);
    color: var(--white);
    outline: none;
}

input:focus {
    outline: none;
}

input[type=text], input[type=password], select {
    font-size: large;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: box-shadow .3s;
}

input[type=text]:focus, input[type=password]:focus {
    box-shadow: 1px 1px var(--shadow-blur) var(--main-color), 
                -1px 1px var(--shadow-blur) var(--main-color), 
                1px -1px var(--shadow-blur)  var(--main-color), 
                -1px -1px var(--shadow-blur)  var(--main-color);
    -webkit-box-shadow: 1px 1px var(--shadow-blur) var(--main-color), 
                        -1px 1px var(--shadow-blur) var(--main-color), 
                        1px -1px var(--shadow-blur)  var(--main-color), 
                        -1px -1px var(--shadow-blur)  var(--main-color);
}
  
input[type=submit] {
    font-size: large;
    width: 60%;
    background-color: var(--main-color);
    color: var(--white);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--gray) 0 4px 0 0;
    -webkit-box-shadow: var(--gray) 0 4px 0 0;
}
  
input[type=submit]:active {
    box-shadow: #4d4d4d 0 2px 0 0;
    -webkit-box-shadow: var(--gray) 0 2px 0 0;
    transform: translateY(2px) translateX(0);
}

input[type=submit]:focus {
    outline: none;
}

.button {
    background-color: var(--main-color);
    border-radius: 4px;
    border: none;
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: var(--gray) 0 4px 0 0;
    -webkit-box-shadow: var(--gray) 0 4px 0 0;
}

.button:active {
    box-shadow: #4d4d4d 0 2px 0 0;
    -webkit-box-shadow: var(--gray) 0 2px 0 0;
    transform: translateY(2px) translateX(0);
}

.button:focus {
    outline: none;
}

.a {
    color: var(--main-color);
}